*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


.navbar1 img{
    width: 100px;

}
.navbar2 img{
    width: 200px;
}


.Search_product{
    display: flex;
    width: 250px;
}
.search{
    width: 100%;
    padding: 10px 10px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid black;
}

.select_location{
    width: 250px;
}

.select i{
    font-size: 15px;
}

.select{
    width: 100%;
    padding: 10px 10px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid black;
}



